* {
  padding: 0px;
  margin: 0px;
}

body {
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: aqua;
}
.outer {
  width: 700px;
  height: 800px;
  margin: 0px auto;
  border: 5px double black;
  padding: 5%;
  padding-bottom: 40%;
  padding-top: 2%;
}
.one h1 {
  margin-top: 5%;
  margin-left: 40%;
  margin-bottom: 5%;
}
.one {
  width: 550px;
  display: inline-block;
}
.one b {
  font-size: 21px;
}

p {
  font-size: 17px;
}
.border {
  width: 100%;
  padding: 6px;
  background-color: #d3d3d3;
  border: 1px solid black;
  font-weight: bold;
  font-size: 18px;
}

li,
ul {
  font-size: 17px;
  margin-left: 25px;
}
img {
  width: 17%;
  height: 15%;
  border: 3px solid black;
}
